<title>My application deployed automatically</title>
  <h1>Multiple Linear Interpolution Computation!</h1>
    Result is {{result}}


  <form action="compute" method="post">
	<p>Left input is source array(float), middle input is destination array(float) and
	right input is interpolation value of float type </p>
	<br>
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
